terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfstate
terraform/*.tfstate.*

backend/node_modules
backend/.env
frontend/node_modules

# Crash logs
terraform/crash.log
terraform/crash.*.log

# Local override files
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json

terraform/*.tfvars
terraform/*.tfvars.json

terraform/.terraform/
terraform/.terraform/*

# Terraform plan files
terraform/*.plan
terraform/*.out
terraform/.terraform.lock.hcl


